@font-face {
	font-family: bakeapple;
	src: url('../fonts/bakeapple.otf');
}
@font-face {
	font-family: blacker;
	src: url('../fonts/blacker.ttf');
}
@font-face {
	font-family: cabin;
	src: url('../fonts/cabin.ttf');
}
@font-face {
	font-family: gravity;
	src: url('../fonts/gravity.otf');
}
@font-face {
	font-family: lobstertwo;
	src: url('../fonts/lobstertwo.ttf');
}
@font-face {
	font-family: nunito;
	src: url('../fonts/nunito.ttf');
}
@font-face {
	font-family: nunitosans;
	src: url('../fonts/nunitosans.ttf');
}
@font-face {
	font-family: poppins;
	src: url('../fonts/poppins.ttf');
}
@font-face {
	font-family: productsans;
	src: url('../fonts/productsans.ttf');
}
@font-face {
	font-family: quicksand;
	src: url('../fonts/quicksand.ttf');
}
@font-face {
	font-family: roboto;
	src: url('../fonts/roboto.ttf');
}
@font-face {
	font-family: rubik;
	src: url('../fonts/rubik.ttf');
}
@font-face {
	font-family: technasans;
	src: url('../fonts/technasans.otf');
}
@font-face {
	font-family: viga;
	src: url('../fonts/viga.ttf');
}
@font-face {
	font-family: radiant;
	src: url('../fonts/radiant.ttf');
}
@font-face {
	font-family: montserrat;
	src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
	font-family: montserrat-bold;
	src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: catamaran;
	src: url('../fonts/catamaran.ttf');
}
@font-face {
	font-family: edosz;
	src: url('../fonts/edosz.ttf');
}
